{{ partial "header.html" }}
<h3>{{ .Title }}</h3>
<p>{{ .Content }}</p>

{{ if .Params.cast }}
    <p>Cast:
        <ul>
            {{ range sort .Params.cast "position" "asc" }}
                <li><a href="{{"/person/" | relURL}}{{ .name | urlize }}">{{ .name }}</a> - {{ .role }}</li>
            {{ end }}
        </ul>
    </p>
{{ end }}

{{ if .Params.crew }}
    <p>Crew:
        <ul>
            {{ range sort .Params.crew "position" "asc" }}
                <li><a href="{{"/person/" | relURL}}{{ .name | urlize }}">{{ .name }}</a> - {{ .role }}</li>
            {{ end }}
        </ul>
    </p>
{{ end }}
{{ partial "footer.html" }}
