{{ partial "header.html" }}
<h3>{{ .Title }}</h3>
<p>{{ .Content }}</p>

{{ if .Params.cast }}
    <p>Cast:</p>
    <ul>
        {{ range sort .Params.cast "position" "asc" }}
            <li><a href="{{"/person/" | relURL}}{{ .name | urlize }}">{{ .name }}</a> - {{ .role }}</li>
        {{ end }}
    </ul>

{{ end }}

{{ if .Params.crew }}
    <p>Crew:</p>
    <ul>
        {{ range sort .Params.crew "position" "asc" }}
            <li><a href="{{"/person/" | relURL}}{{ .name | urlize }}">{{ .name }}</a> - {{ .role }}</li>
        {{ end }}
    </ul>
{{ end }}
{{ partial "footer.html" }}
